.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#loading {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.home-page {
  margin: 10px;
}

.nav-bar {
  margin: 10px;
}

.boxed-content {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0; 
}